.transparent{
    -fx-background-color: transparent;
}
.minimized_btn{
    -fx-background-color: #2A9df4;
}
.close_btn{
    -fx-background-color: #DC143C;
}
.minimized_btn:hover{
    -fx-background-color: rgba(42, 157, 244, 0.8);
}
.close_btn:hover{
    -fx-background-color: rgba(220, 20, 60, 0.8);
}

.menu-color1{
    -fx-background-color: #FAF5F0;
}

.menu-color2{
    -fx-background-color: linear-gradient(to top right, rgba(28,101,111,1) 0%, rgba(23,191,208,1) 32%, rgba(42,184,150,1) 100%)
}

.menu-btn:hover{
    -fx-background-color: rgba(0,0,0,0.2);
}

.table-view .column-header,
.table-view .column-header-background .filler {
    /*-fx-background-color: navajowhite;*/
    -fx-font-size: 14px;
    -fx-min-height: 20px;
}

.col-head1{
    -fx-background-radius: 8px 0 0 0;
}

.col-head4{
    -fx-background-radius: 0 8px 0 0;
}

.todo-table{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.table-view{
    -fx-background-radius: 8px;
    -fx-background-color: linear-gradient(to top right, rgba(64,164,177,1) 0%, rgba(124,221,230,1) 44%, #4ac3a6 100%);
}

.table-view .column-header-background{
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-radius: 8px;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 5 0 15 0;
}

.table-view .column-header, .table-view .filler{
    -fx-font-size: 15px;
    -fx-border-width: 0 0 10 110;
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-radius: 0;
}

.table-row-cell:even{
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.table-row-cell:odd{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}